@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
  font-family: 'Outfit', sans-serif;
}

/* White Glow Effect */
.white-glow-sm {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.white-glow-md {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.15);
}